@use "../../styles/variables" as *;

.track {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  color: $color-white;
  width: 35rem;
  overflow: hidden;
  align-content: center;
  border: 0.2rem solid $color-white;
  border-radius: 1rem;

  &__band,
  &__title,
  &__genre {
    padding-bottom: 0.5rem;
    text-decoration: none;
  }

  &__video {
    align-self: center;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  }

  &__update-button,
  &__delete-button {
    background-color: $color-red;
    padding: 0.5rem 2rem;
    color: $color-white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  &__update-button:hover,
  &__delete-button:hover {
    background-color: $color-white;
    color: $color-red;
  }
}
